header{
  text-align: center;
}
header h1{
  margin: .2em 0 20px 0;
}
main{
  max-width: 90%;
  margin: .4em auto 0;
}
main ul{  
  margin: 20px 0 0 0  ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-content: end; 
  justify-items: center;
  list-style-type: none;
}

main img {
  border-radius: 22px;
  border: 2px solid #ddd !important;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form div button {
  background: #44bd2b;
}

